<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <form method="post">
        <label>
            <input type="radio" name="choice" value="1"> User
        </label>
        <label>
            <input type="radio" name="choice" value="2"> Vendor
        </label>
        <label>
            <input type="radio" name="choice" value="3"> Admin
        </label>
        <br><br>
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>